@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

*, *>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    color: var(--White);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Left Section */

.left_section {
    min-height: 100vh;
    width: 40%;
    background-image: url('images/bg-main-desktop.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cards {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    left: 100%;
    gap: 2rem;
}

.front_card {
    position: relative;
    right: 6rem;
}

.card_logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#cardNumber {
    position: absolute;
    top: 8rem;
    letter-spacing: 2px;
    left: 1.7rem;
    font-weight: 400;
}

#cardName, #cardDate {
    position: absolute;
    bottom: 2rem;
    font-weight: 400;
}

#cardName {
    left: 1.7rem;
}

#cardDate {
    right: 1.7rem;
}

.back_card {
    position: relative;
    right: -2rem;
}

#cvc {
    position: absolute;
    top: 6.9rem;
    right: 3.5rem;
    letter-spacing: 3px;
    font-weight: 400;
}

/* Right Section */

.right_section {
    margin-left: 80px;
    min-height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 7px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--Very-dark-violet);
}

input {
    font-family: "Space Grotesk", sans-serif;
    height: 44px;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    border: 1px solid var(--Light-grayish-violet);
    color: var(--Very-dark-violet);
    font-weight: 600;
    font-size: 16px;
}

input::placeholder {
    color: var(--Light-grayish-violet);
}

input:focus {
    border: 1px solid purple;
}

#cardNameInput, #cardNumberInput {
    width: 100%;
}

.dateAndCVC {
    display: flex;
    flex-direction: row;
}

#expMonthInput, #expYearInput {
    width: 85px;
}

.CVC_div {
    margin-left: 20px;
}

#CVCInput {
    width: 190px;
}

#submitButton, #continueButton {
    margin-top: 40px;
    width: 100%;
    border-radius: 7px;
    height: 48px;
    border: none;
    outline: none;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--Very-dark-violet);
    color: #fff;
    cursor: pointer;
}

#submitButton:hover, #continueButton:hover {
    background-color: hsla(278, 68%, 11%, 0.842);
}

/* Form Submission State */

.complete_state {
    margin-left: 80px;
    min-height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thankYou {
    margin: 30px auto;
    font-family: "Space Grotesk", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--Very-dark-violet);
}

.thankYouNote {
    margin-bottom: 30px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: var(--Dark-grayish-violet);
}

#continueButton {
    width: 384px;
}

/* Error Message */

.error_msg {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 6px;
}

.error_border {
    border: 1px solid red;
}

/* Hidden Class */

.hidden {
    display: none;
}